<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="container">
		<!-- Vertically center -->
		<div class="vertical">
			<div class="site-head-content inner">
				{{#if @blog.logo}}
					<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
				{{else}}
					<h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
				{{/if}}
				<h2 class="blog-description">
					{{#post}}
						{{{title}}}
					{{/post}}
				</h2>
			</div>
		</div><!-- END .vertical -->
	</div><!-- END .container -->
	{{> nav}}
</header><!-- END .site-head -->